<h2>Activity Page</h2>
<div id="activity">
<p>Activity: <%= @activity.subject %></p>
<p>Description: <%= @activity.description %></p>
<p>Type: <%=@activity.activity_type %></p>
<p>Email Address: <%=@activity.email_address%></p>
<p>From: <%=@activity.from%></p>
</div>
<%= link_to "Edit Activity", [:edit, @ticket, @activity] %> |
<%= link_to "Delete Activity", [@ticket, @activity], :method => :delete, :confirm => "Are you sure you want to delete this Activity?" %> |
<%= link_to "View Tickets", root_path %>
